<%- include partials/header.ejs %>
<div class="row mt-5 p-4" id="register">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          <i class="fas fa-user-plus"></i> Add File to Repository
        </h1>
        <form action="" method="POST">
            <div class="form-group">
                    <label for="f_location">File's Location</label>
                    <input
                      type="text"
                      id="f_location"
                      name="f_location"
                      class="form-control"
                      placeholder="Enter File's Location"
                      value="<%= typeof f_location != 'undefined' ? f_location : '' %>"
                    />
                  </div>
          <div class="form-group">
            <label for="f_name">File's Name</label>
            <input
              type="text"
              id="f_name"
              name="f_name"
              class="form-control"
              placeholder="Enter File's Name"
              value="<%= typeof f_name != 'undefined' ? f_name : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="size">Size of File</label>
            <input
              type="number"
              id="size"
              name="size"
              class="form-control"
              placeholder="Enter File's Size"
              value="<%= typeof size != 'undefined' ? size : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="R_ID">Repository's ID</label>
            <input
              type="number"
              id="R_ID"
              name="R_ID"
              class="form-control"
              placeholder="Enter repository's ID"
              value="<%= typeof R_ID != 'undefined' ? R_ID : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="U_ID">Repository's ID</label>
            <input
              type="number"
              id="U_ID"
              name="U_ID"
              class="form-control"
              placeholder="Enter User ID"
              value="<%= typeof U_ID != 'undefined' ? U_ID : '' %>"
            />
          </div>
          <div class="text-center">
            <input type="submit" value="Add File" class="btn btn-info btn-block rounded-0 py-2">
        </div>
        </form>
      </div>
    </div>
  </div>
  