<%- include partials/header.ejs %>
<%- include partials/navbar.ejs %>
<div class="row mt-5 p-4" id="register">
        <div class="col-md-6 m-auto">
          <div class="card card-body">
            <h1 class="text-center mb-3">
              <i class="fas fa-user-plus"></i> USER
            </h1>
            <form action="/users/register" method="POST">
                <div class="form-group">
                        <label for="name">User_ID</label>
                        <input
                          type="number"
                          id="ID"
                          name="ID"
                          class="form-control"
                          placeholder="Enter ID"
                          value="<%= typeof name != 'undefined' ? name : '' %>"
                        />
                      </div>
              <div class="form-group">
                <label for="name">Name</label>
                <input
                  type="name"
                  id="name"
                  name="name"
                  class="form-control"
                  placeholder="Enter Name"
                  value="<%= typeof name != 'undefined' ? name : '' %>"
                />
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input
                  type="email"
                  id="email"
                  name="email"
                  class="form-control"
                  placeholder="Enter Email"
                  value="<%= typeof email != 'undefined' ? email : '' %>"
                />
              </div>
              <div class="form-group">
                <label for="contact">Contact No.</label>
                <input
                  type="text"
                  id="number"
                  name="Contact No."
                  class="form-control"
                  placeholder="Enter Contact_no."
                  value="<%= typeof number != 'undefined' ? number : '' %>"
                />
              </div>
              
              <button type="submit" class="btn btn-dark btn-block">
                Submit
              </button>
            </form>
            <p class="lead mt-4"> <a href="/users/login"></a></p>
          </div>
        </div>
      </div>
      